/****************************Class box**********************************/
body {
    padding: 0px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.col-sm-4 {
    width: 33.33333333%;
}


/**********************************************head***************************************/
button.nav-responsive {
    display: none;
}
.navbar {
    background-color: #be3144;
    margin-bottom: 0px;
    border-radius: 0px;
    display:flow-root;
    position: fixed;
    width: 100%;
}
.navbar ul {
  list-style-type: none;
  margin: 0 15px 0 0;
  padding: 0;
  float:right;
}

.navbar ul li {
	float:left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.navbar ul li a:hover {
  background-color: #45567d;
}
/**********************************************************Home***************************************************************/



.head-content {
    text-align: center;
    padding: 230px 0 280px 0;
    background-color: black;
    color: white;
}
.head-content h1{
	font-weight: 700;
	font-size:60px;
	margin-bottom: 15px;
}
.head-content p{
	font-weight:200;
	font-size:30px;
	font-style:italic;
	margin-top: 0;
}

.section{
	background-color:#45567d;
	text-align:center;
	color:white;
	margin: 0 0 0 0;
}
.section-contant h1{
    border-bottom: 3px solid white;
    display: -webkit-inline-box;
    max-inline-size: fit-content;
    width: 652px;
    padding: 60px 0 20px 0;
}

.image-size {
	margin-top: 50px;
    margin-left: 15px;
    padding-left: 15px;
    float: left;
    width: 30.333333%;
}

.image-size img {
	max-width: -webkit-fill-available;
	height:400px;
	object-fit: cover;
}

.image-size p {
    font-size: 1.2rem;
    padding: 2rem 0.5rem;
	background:#303841;
	color:white;
	margin:0;
}

.image-size a {
	display: grid;
    text-decoration: none;
}
.image-size a p span{
	display:none;
	transition: 0.3s ease-out;
}
.image-size a:hover p span{
	display: initial;
	color: #ff7f50;
	transition: 0.3s ease-out;
}


.col-sm-12.more-img-button {
    margin-top: 31px;
}
.more-img-button a p{
    font-weight: 500;
    background: #303841;
    padding: 11px;
    color: white;
    font-size: 20px;
	text-decoration:none;
	display: inline-block;
	transition: background 0.3s ease-out;
}
.more-img-button a:hover p{
	color:white;
    background: #be3144;
	text-decoration:none;
	transition: background 0.3s ease-out;
}
/*******************************************************contact form *************************************************************/
.backimgform{
	background: fixed;
	background-image: linear-gradient(  rgba(58, 58, 158, 0.8), rgba(136,136,209,0.7)),
    url(https://bannayash11.github.io/myportfolio/img/survey-form-background1.jpeg);
}

.col-sm-12.form-box {
    padding-bottom: 100px;
}

.form-content{
	text-align:center;
	color:white;
	padding-bottom:20px;
}

.form-content p{
	font-size:18px;
	font-style:italic
}

.form-layout{
	background-color: rgba(27, 27, 50, 0.8);
	color:white;
	padding:35px;
	font-weight: 400;
	font-size:18px; 
}

.form-layout label{
    inline-size: -webkit-fill-available;
}

.form-layout label input.input-checkbox{
	margin-right: 10px;
	margin-left: 3px;
	width: 20px;
    height: 17px;
}

.form-layout label input.input-radio{
	margin-right: 10px;
	margin-left: 3px;
	width: 20px;
    height: 17px;
}

.form-layout textarea#comments {
    height: 119px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-layout input#submit {
    background: #37af65;
    color: white;
    height: 41px;
    font-size: 18px;
    font-weight: 500;
	border:none;
}

.form-layout p{
    margin: 16px 0 7px 0px;
}
body{
	font-family: 'Poppins', sans-serif;
}

.more-img-button {
    width: 100%;
    display: inline-grid;
}

/*********************************footer**************************/
footer{
	background-color:#303841;	
	color:white;
	text-align:center;
	display: inline-block;
	width: 100%;
}
.footer-box {
	padding-top:60px;
	text-align:center;
	display: grid;
}

.footer-box1 {
	padding-left: 10px;
	padding-top:20px;
	height: 65px;
	display: inline-block;
}

.footer-text h2{
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-text p{
	font-size:20px;
	font-style:italic;
}

.social-icon a{
	color:white;
	margin-left: 25px;
	text-decoration: none;
}

.social-icon {
	margin-left: 30px;
	font-size: 24px;
        transition: 0.3s ease-out;
        color: white;
	text-decoration: none;
	float: left;
        display: block;
}

.social-icon:hover {
    padding-top: 22px;
    transition: 0.3s ease-out;}

.footer-box2 {
	border-top: 4px solid #be3144;
	background-color:#303841;
	color:white;
	text-align:center;
}

.footer-box2 p{
    display: -webkit-inline-box;
    margin-left: 65px;
	font-size:20px;
	margin-left: 25px;
}




/*******************************************Responsove class****************************/

@media screen and (max-width: 800px) {
nav#myTopnav {
	background-color: #be3144;
	display: inline-block;
	position: fixed;
	width: 100%;
}

a.icon {
    color: white;
    text-decoration: none;
}
	
i.fa.fa-bars {
    padding-right: 3px;
}
	
.name-menu ul li a{
	color:white;
        text-decoration: none;
}
.name-menu {
    text-align: -webkit-center;
}

.name-menu ul {display: none;}

.nav-responsive {
    background-color: #be3144;
    margin: 14px 0;
    border: none;
    display: block!important;
}

.responsive ul{
  		display: block!important;
		transition: 0.3s ease-out;
}

.name-menu ul {
 	float: none;
	padding: 0;
	}
.name-menu ul li {
	list-style: none;
	text-align: center;
 	float: none;
	padding: 5px 0;
}
	
}


@media screen and (max-width: 600px) {
.navbar ul {
    margin: 0px 1px 0 0;
}
	
.navbar ul li a {
    padding: 22px 26px;
    font-size: 21px;
}


.head-content {
    padding: 170px 0 170px 0;
}

.image-size {
    margin: 50px 23px 0px 26px;
    width: 90%;
    padding: 0;
}

.image-size img {
    width: 100%;
}

/* menu */
nav#myTopnav {
	background-color: #be3144;
	display: inline-block;
	position: fixed;
	width: 100%;
}

a.icon {
    color: white;
    text-decoration: none;
}
	
i.fa.fa-bars {
    padding-right: 3px;
}
	
.name-menu ul li a{
	color:white;
        text-decoration: none;
}
.name-menu {
    text-align: -webkit-center;
}

.name-menu ul {display: none;}

.nav-responsive {
    background-color: #be3144;
    margin: 14px 0;
    border: none;
    display: block!important;
}

.responsive ul{
  		display: block!important;
		transition: 0.3s ease-out;
}

.name-menu ul {
 	float: none;
	padding: 0;
	}
.name-menu ul li {
	list-style: none;
	text-align: center;
 	float: none;
	padding: 5px 0;
}
	/* menu */
	
	
	
.footer-box1 , .footer-box, .footer-box2{
    width: 96%;
    text-align: center;
    padding: 0px 14px 0px 0;
}

.footer-box{
 	margin-top: 50px;	
}
.footer-box1{

    margin-bottom: 100px;
}
.social-icon {
    padding-right: 3px;	
    font-size: 26px;
    margin: 0 22px;
    line-height: 50px;
    float: none;
}
.head-content h1 {
    padding: 0 13px;
    font-size:50px; 
}

.footer-box2 p {
    margin-right: 25px;
    margin-left: 25px;
}
	
/*************************************Form responsive css************************************/	
.form-layout {
    font-size: 18px;
    width: 100%;
}

.form-control {
    font-size: 16px;
}
	
}


@media screen and (max-width: 443px) {
.image-size {
    margin: 50px 23px 0px 26px;
    width: 88%;
    padding: 0;
}

	
.social-icon {
    font-size: 26px;
    margin: 0px 21px;
    line-height: 50px;
}
	

}
