
/*------------------------------------------menu---------------------------------------------*/
body{
	font-family: "Raleway", sans-serif !important;
}

.navbar {
    margin-bottom: 0 !important;
}

.nav-responsive {
  display: none;
}

.name-menu  ul {
	float: right;
	padding-right: 28px;
	margin: 0
}
.name-menu  ul li {
    list-style: none;
	float: left;
	text-align: right;
	padding: 18px 20px 18px 21px;
    font-size: 18px;
}

.name-menu ul li a {
	color: black;

}

.active{
	text-decoration-line: underline;
}

.banner-image{
	padding-top: 8px;
}

.banner-image a{
	padding-left: 8px;
}




.name-menu button  i.fa.fa-bars {
    color: white;
    font-size: 24px;
}
span.text-nav {
    color: white;
    padding-left: 6px;
	font-size: 22px;
}
.name-menu button a {
text-decoration: none;
}
/*------------------------------------------menu---------------------------------------------*/

/*------------------------------------------section1---------------------------------------------*/

.main-content {
    color: white;
    text-align: center;
    background-color: #007BD5;
    padding: 83px 0 83px 0;
}

.main-content h1{
	font-size: 34px;
	font-weight: 600;

}

.main-content h2{
	font-size: 25px;
	font-weight: 600;
	padding:18px 0 7px 0;
}


.main-content form input[type="email"] {
    border: 1px solid #fff;
    background: #ffffff;
    width: 28% !important;
    font-size: 18px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    line-height: 1.75;
}

.main-content form input[type="submit"] {
    border: 1px solid #ee1133;
    padding: 10px 20px;
    background-color: #ee1133;
	margin-left: 10px;
    line-height: 1.5;
}

.main-content form .subscriber{
    border: 1px solid #ee1133;
    padding: 0.5em 1em;
    background-color: #ee1133;
	margin-left: 10px;
    line-height: 1.5;
}

.main-content form .subscriber:hover{
    background-color: #d5001a;
}

/*------------------------------------------section1---------------------------------------------*/

/*------------------------------------------post---------------------------------------------*/
.background-color-post{
	background: #cccccc;
	padding-bottom: 40px;
}

.col-sm-4.post {
    width: 31.333333%;
	min-height: 832px;
    padding: 24px;
}

.post{
	background: white;
	margin: 28px 13px 0 13px;
	padding: 22px;
	padding-right: 19px;
}

.post-image img {
    width: 100%;
}

.post a {
	color: #CCCCCE;
}

.entry-title a {
	color: black;
   line-height: 1.4;
}


.post-details {
	color: #7f7f7f;
	margin-bottom: 28px;
}
.post-details a{
	color: #7f7f7f;

}

.post-details a:hover{
	color:black;
}

.post-content {
    font-size: 18px;
    color: #7f7f7f;
}

.post-content p{
	margin-bottom: 29px;
    line-height: 1.7;
} 

.post-content a{
	color: white;
} 

.more-link-button{
	padding: 10px;
	background:#ee1133; 
	text-decoration: none;
}

.more-link-button:hover{
	background:#D5001A; 
}

.more-link-button:link, .more-link-button:visited {
    text-decoration: none;
}

.footer-boder{
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    margin-top:30px;
    padding-top: 25px;
    font-size: 16px;
    color:#b2b2b2;
}


.social-icon i {
    padding-right: 10px;
}

.social-icon a {
	text-decoration: none;
}


/*------------------------------------------post---------------------------------------------*/


/****************************************Footer menu*************************/



.footer-menu{
	background: black;
}
.footer-menu  ul {
}
.footer-menu  ul li {
    list-style: none;
    float: left;
	text-align: center;
	padding: 18px 20px 18px 21px;
    font-size: 18px;
}

.footer-menu ul li a {
	color: white;

}
/****************************************Footer menu*************************/



/****************************************Responsive class content************************/



/**********************************Menu resposive*****************************************************/
@media screen and (max-width: 1315px) {

	.col-sm-4.post {
		width: 30.333333%;
	}

}


@media screen and (max-width: 940px) {
	.col-sm-3.banner-image{
		text-align: center;
		width: 100%;
	}

	.name-menu {
	        text-align: -webkit-center;
	}

	div#myTopnav {
	        width: 100% !important;
	}

	.name-menu ul {display: none;}

	.nav-responsive {
		background-color: #007BD5;
       	        margin: 14px 0;
	        border: 1px solid #007BD5;
	        display: block!important;
	}

	.responsive ul{
		display: block!important;
		transition: 0.3s ease-out;
	}

	.name-menu ul {
		float: none;
	 }
	.name-menu ul li {
	        text-align: center;
		float: none;
	 }

	.col-sm-4.post {
	        width: 44.333333%;
	        display: inline-grid;
	}

	.col-sm-12.background-color-post {
	        padding-left: 30px;
	}


	.footer-menu ul li {
	        float: none;
	}
	.empity-div{
	       width:0%;
	}
}


@media screen and (max-width: 630px) {

	/*menu*/
	.col-sm-3.banner-image{
		text-align: center;
	}

	.name-menu {
	        text-align: -webkit-center;
	}

	.name-menu ul {
		display: none;
	}

	.nav-responsive {
	 	background-color: #007BD5;
		margin: 14px 0;
		border: 1px solid #007BD5;
		display: block!important;
	}

	.responsive ul{
		display: block!important;
		transition: 0.3s ease-out;
	}

	.name-menu ul {
		float: none;
	 }
	.name-menu ul li {
	        text-align: center;
		float: none;
	 }
	/*menu*/


	.main-content h1 {
		font-size:32px; 
		padding-left: 30px;
	        padding-right: 30px;
	        line-height: 40px;
	}

	.main-content h2 {
		font-size: 24px;
	        padding-left: 30px;
	        padding-right: 30px;
	        line-height: 35px;
	}


	.main-content form input[type="email"] {
	       width: 70% !important;
	       padding: 2px 7px;
	       font-size: 20px;
	}

	.main-content form input.subscriber {
		margin-top: 15px;
	}

	.background-color-post{
		background: #cccccc;
		padding-top: 25px;
	}
	 .post{
		margin: 25px 0px 0 7px;
	 }


	.background-color-post .post {
		width: 96%;
		font-size: 16px;
	        min-height: auto;
	}

	h2.entry-title{
		font-size: 24px;
	}

	.post-content , a.more-link-button , .footer-boder{
		font-size: 18px;
	}
	.footer-menu .col-sm-3 {
		width: 0;
	}

	.footer-menu ul li {
	        padding: 9px 12px;
	        font-size: 18px;
	        background: black;
	}
	
	
}
